/*  your css code here. If applicable */
 #yellow{
	 auto-padding:0;
	border-box:0;
	background:rgb(255,255,0);
	border-top-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	 border-top-color:color;
	border-bottom-color:color;
	border-left-color:color;
	border-right-color:color;
	border-color:rgb(0,128,0);
}
#red{
	auto-padding:0;
	border-box:0;
	background:rgb(255,0,0);
	border-top-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-color:rgb(0,0,0);
}
#green{
	auto-padding:0;
	border-box:0;
	background:rgb(0,128,0);
	border-top-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-color:rgb(255,255,0);
}